.dock {
  display: flex;
  gap: 60px;
  align-items: flex-end;
}

.dockItem {
  position: relative;
}

.label {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
}