.container {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.395);
    border-radius: 12px;
    padding: 1rem 2rem;
    cursor: pointer;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.538);
}


.expired {
    text-decoration:line-through;
}

.footer {
    background-color: #d6eeff;
    padding: 0.5rem;
    border-radius: 12px;
    width: 100%;
}
.footer span {
    color: gray;
}


/* Desktop Styles */
/* @media (min-width: 1024px) {} */

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 100%;
    }
}

/* Phone Styles */
@media (max-width: 767px) {
    .container {
        min-width: 95%;
        height: 265px;
    }
}