.container {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.395);
    border-radius: 12px;
    padding: 1rem 2rem;
    cursor: pointer;
}


/* Desktop Styles */
/* @media (min-width: 1024px) {} */

/* Tablet Styles */
/* @media (min-width: 768px) and (max-width: 1023px) {} */

/* Phone Styles */
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}