:root {
    --light-dynamic-button-color: #f8f9fa;
    --dark-dynamic-button-color: #c2a6fd;
}

/* preferences */

@media (prefers-color-scheme: dark) {
    :root {
        --dynamic-button-color: var(--dark-dynamic-button-color);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --dynamic-button-color: var(--light-dynamic-button-color);
    }
}

.button {
    border: none;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border-radius: 100vw;
    cursor: pointer;
    color: var(--font-color);
    width: 100%;
}

.button:last-child {
    align-self: flex-end;
}

.dynamic {
    background-color: var(--dynamic-button-color);
}

.translucent {
    background-color: var(--bg);
}
.translucent:hover {
    background-color: rgba(0, 0, 0, 0.127);
}
.transparent {
    background-color: rgba(0, 0, 0, 0);
}

.danger {
    background-color: red;
}

.success {
    background-color: green;
    color: white;
}

.info {
    background-color: rgb(245, 183, 11);
    color: white;
}


/* Dark theme */
html[data-theme="dark"] {
  --dynamic-button-color: var(--dark-dynamic-button-color);
}

/* Light theme */
html[data-theme="light"] {
  --dynamic-button-color: var(--light-dynamic-button-color);
}