.wrapper {
  position: relative;
  display: inline-flex;
}

.trigger {
  cursor: pointer;
}

.popover {
  position: absolute;
  background: var(--bg);
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 18px;
  min-width: 160px;
  z-index: 1000;
}

/* Bottom */

.bottom-left {
  top: 110%;
  left: 0;
}

.bottom-center {
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-right {
  top: 110%;
  right: 0;
}

/* Top */

.top-left {
  bottom: 110%;
  left: 0;
}

.top-center {
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.top-right {
  bottom: 110%;
  right: 0;
}

/* Side */

.left {
  right: 110%;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
}