.container {
    position: relative;
    height: 87vh;
    display: flex;
    gap: 1rem;
    overflow-y: scroll;
    flex-direction: column;
    padding: 0px 5vw;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textInputCheck {
    position: relative;
}

.buttonContainer {
    position: absolute;
    right: 5px;
    bottom: 10px;
}


.actionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Desktop Styles */
/* @media (min-width: 1024px) {} */

/* Tablet Styles */
/* @media (min-width: 768px) and (max-width: 1023px) {} */

/* Phone Styles */
@media (max-width: 767px) {

    .topContainer {
        flex-direction: column;
    }
}